.page {
  min-width: 375px;
  margin: 0 auto;
  font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');

 * {
  box-sizing:  border-box;
 }

.header {
  background-image: url('../images/bgimageLarge.jpg');
  background-size: cover;
  padding: 48px 24px 44px 24px;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.header__button {
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  background: url('../images/crescent.svg') no-repeat top right;
}

.block {
  width: 100%;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  border-radius: 5px;
}

.block__input-checkbox[type="checkbox"] {
  display: none;
}

.block__label::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: solid 1px #E3E4F1;
	transition: 0.5s;
}

.block__input-checkbox[type="checkbox"]:checked + .block__label::before {
	background-image: url('../images/check-mark.svg');
	background-size: 100%;
}

.block__input-text {
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.166667px;
  color: #9495A5;
  outline: none;
  margin-left: 12px;
  width: 100%;

}
.main {
  height: 368px;
  background: #FAFAFA;
  padding: 0 24px;
}
.main__tasks {
  align-items: stretch;
  min-height: 368p;
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  margin-bottom: 16px;
}
.tasks__task {
  background-color: #FFFFFF;
  border-bottom: 1px solid #E3E4F1;
}
.task__description {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.166667px;
  color: #494C6B;
  margin-left: 12px;
}
.task__button {
  border: none;
  background: #fff;
  margin-left: auto;
}
.task__amount {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.166667px;
  color: #9495A5;
}
.task__clear {
  margin-left: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: right;
  letter-spacing: -0.166667px;
  color: #9495A5;
}
.interaction {
  padding: 15px 80px 15px 81px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height */
  display: flex;
  justify-content: space-between;
  letter-spacing: -0.194444px;
  color: #9495A5;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
}


