:root {
  --body-bg: #FAFAFA;
  --block-bg: #FFFFFF;
  --block-label-border: #E3E4F1;
  --block-input-text: #9495A5;
  --block-input-text-bg: #fff;
  --main-bg: #FAFAFA;
  --main-task-bh: rgba(194, 195, 214, 0.5);
  --tasks-task-bg: #FFFFFF;
  --tasks-task-bor-bot: #E3E4F1;
  --task-description: #494C6B;
  --task-button: #fff;
  --task-interaction: #9495A5;
  --task-description-done: #D1D2DA;
  --interaction-hover: #494C6B;
  --task-amount: #9495A5;
  --interaction-bg: #fff;
  --ul-bg: #fff;
  --media-int-hover: #494C6B;
  --media-task-interaction-c: #9495A5;
  --header-bgi: url('../images/bgimageLarge.jpg');
}
[dark] {
  --body-bg: #171823;
  --block-bg: #25273D;
  --block-label-border: #393A4B;
  --block-input-text: #767992;
  --block-input-text-bg: #25273D;
  --main-bg: #171823;
  --main-task-bh: rgba(37, 35, 35, 0.5);
  --tasks-task-bg: #25273D;
  --tasks-task-bor-bot: #393A4B;
  --task-description: #C8CBE7;
  --task-button: #25273D;
  --task-interaction: #9495A5;
  --task-description-done: #4D5067;
  --interaction-hover: #494C6B;
  --task-amount: #5B5E7E;
  --interaction-bg: #25273D;
  --ul-bg: #25273D;
  --media-int-hover: #E3E4F1;
  --media-task-interaction-c: #5B5E7E;
  --header-bgi: url('../images/gbimageDark.jpg');


}
.page {
  min-width: 375px;
  margin: 0 auto;
  font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
}
body {
  transition: 1s;
  background: var(--body-bg);
}
 * {
  box-sizing:  border-box;
 }
.header {
  background-image: var(--header-bgi);
  background-size: cover;
  padding: 48px 24px 44px;
  transition: 1s;
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.header__button {
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  background: url('../images/crescent.svg') no-repeat top right;
}
.block {
  width: 100%;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  background: var(--block-bg);
  border-radius: 5px;
}
.block__input-checkbox[type="checkbox"] {
  display: none;
}
.block__label:hover {
  cursor: url('../images/pointer.svg'), auto;
}
.block__label::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: solid 1px var(--block-label-border);
	transition: 0.5s;
}
.block__input-checkbox[type="checkbox"]:checked + .block__label::before {
	background-image: url('../images/check-mark.svg');
	background-size: 100%;
}
.block__input-text {
  background-color: var(--block-input-text-bg);
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.166667px;
  color: var(--block-input-text);
  outline: none;
  margin-left: 12px;
  width: 100%;
}
.main {
  background: var(--main-bg);
  padding: 0 24px;
  transition: 1s;
}
.main__tasks {
  position: relative;
  top: -25px;
  box-shadow: 5px 5px 5px var(--main-task-bh);
  margin-bottom: -9px;
}
.tasks__task {
  background-color: var(--tasks-task-bg);
  border-bottom: 1px solid var(--tasks-task-bor-bot);
  display: flex;
  justify-content: space-between;
}
.tasks__task:hover {
  cursor: url('../images/pointer.svg'), auto;
}
.task__description {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.166667px;
  color: var(--task-description);
  margin-left: 12px;
}
.task__button {
  border: none;
  background: var(--task-button);
  margin-left: auto;
}
.task__amount {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.166667px;
  color: var(--task-amount);
}
.task__clear {
  margin-left: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.166667px;
  color: var(--task-interaction);
}
.interaction {
  display: flex;
  justify-content: center;
  padding: 15px 80px 15px 81px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.194444px;
  color: var(--task-interaction);
  box-shadow: 2px 2px 5px rgba(50, 50, 54, 0.5);
  background-color: var(--interaction-bg);
}
.interaction__content {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.interaction__content {
  cursor: url('../images/pointer.svg'), auto;
}
.main__interaction {
  margin-bottom: 40px;
}
.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 72px;
}
.footer__interaction {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  letter-spacing: -0.194444px;
  color: var(--task-interaction);
}
.interaction__content li {
  list-style-type: none;

}
.hidden {
  display: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  width: 166px;
}
.interaction__select-all, .interaction__select-active, .interaction__select-completed {
  border: none;
  background-color: var(--interaction-bg);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.194444px;
  color: var(--media-task-interaction-c);
}
.span-done {
  text-decoration: line-through;
}
.block__input-checkbox[type="checkbox"]:checked  ~ .task__description {
  text-decoration: line-through;
  letter-spacing: -0.25px;
  text-decoration-line: line-through;
  color: var(--task-description-done);
}
.hidden-tasks {
  display: none;
}
.all-tasks {
  display: flex;
}
.selected {
  color: #0bef63;
}
.block__button {
  min-width: 90px;
  display: inline-block;
  padding: 2px 20px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:#0bef63;
  border: none;
  border-radius: 5px;
}

.block__button:hover {
  background-color: #0bef63;
}

.block__button:active {
  background-color: #0bef63;
  transform: translateY(2px);
}
@media (min-width: 640px) {
 .header {
   padding: 70px 0 78px;
 }
 .wrapper {
   max-width: 540px;
   margin: 0 auto 48px;
 }
 .block {
   max-width: 540px;
   margin: 0 auto;
   padding: 17px 24px;
 }
 .main__tasks {
   max-width: 540px;
   margin: 0 auto;
 }
 .hidden {
   padding: 0;
   display: flex;
 }
 .main__interaction {
   display: none;
 }
 .block__input-text, .task__description {
   font-family: 'Josefin Sans';
   font-style: normal;
   margin-left: 24px;
   font-weight: 400;
   font-size: 18px;
   line-height: 18px;
   letter-spacing: -0.25px;
 }
 .block__input-text {
  margin-left: 60px;
  /* margin-right: 150px;*/
 }
 .task__clear {
   margin: 0;
   font-size: 14px;
   color: var(--media-task-interaction-c);
 }
 .task__amount {
  font-size: 14px;
  color: var(--media-task-interaction-c);
 }
 .task__clear:hover {
  color: var(--interaction-hover);
 }
 .footer {
   margin-top: 24px;
 }
 ul {
  padding: 0;
  background-color: var(--ul-bg);
 }
 .task__clear:hover, .interaction__select-all:hover, .interaction__select-active:hover, .interaction__select-completed:hover {
  color: var(--interaction-hover);
  cursor: url('../images/pointer.svg'), auto;
 }
 .block__button {
  font-family: sans-serif;
  padding: 5px;
  min-width: 150px;
  font-size: 16px;
 }
 .block__button:active {
  transform: translateY(4px);
 }
}


